#! /usr/bin/vash
#
# std.help.rc
#
# Wed Sep 12 15:46:39 MSD 1990
#
#
-f_std.help.menu
-i
#-o.
-@1

-1
-2
-3
-4
-5
-6
-7
-8
-9setup
-0return
#-------------------------debug
:KI
        ??? ?   _sup
:=
	??? ?	_rescan
#-------------------------
:CA
:EX
:U0
:0
#	* * _cmdset .ashstd
	* * :exit
:U9
:9
	* * _help sup_help.lb
:[#]
	* * _file #@
:[?]
:HE
	* * _help mainh.lb
:[ ]
:NL
	* * +nl
+nl
# 
#	* * Return     _cmdset std.rc
	* * Return     :exit
	* * Keyboard   _help phelp0.lb
	* * Context    _help std_help.lb

@std.final

