.notused
.cproject
.metadata
.project
.settings
.kde*
.git
.log*
.*.kate-swp
.ashhist
.vash_history
buildd.h
BLD
BLD.cfg
conf.cfg
*.o
*.i
*.lb
*,v
*.a
*.so
vash
vhset
vtest
a
a.out
lbp
vcc
vlpb
visi/src/.*
visi/bin
