#!/usr/bin/vash
#
# misc.rc
# 
# create file/directorie/etc..
#
# Wed Sep 12 15:46:39 MSD 1990
#
#
-f-Fav
-i.
-o.
-@

# НАЗВАНИЯ КЛАВИШ
-1-misc-
-2compr
-3
-4touch
-5tar
-6cpio
-7dir
-8
-9
-0return


@std.mark
@std.cmd

:[?]
:HE
    * *     _help 7misc.lb
#:NL
:EX
:U0
:0
    * *     _cmdset std.rc
# Редактирование последней команды sh:
:[1!]
    r?x ?   _sh

:2
:U2
	rwx +   _menu2 compr.menu
	rwx -   _err please, mark files using spacebar
	r-x *   +Cantw

:U4
:4
    rwx -   +touch
    rwx +   +touchf
    * *     +Cantw
+touch
    ?w? ?   touch #@

+touchf
    ??? ?   touch ##

+Cantw
    * * *   _err Can't write this directory

:[*]
    rwx -   _msg rwx -
    rwx +   _msg rwx +
    ?-? -   _msg --- -
    ?-? +   _msg --- +

:U5
:5
    rwx -   +tardir
    rwx +   +tarfiles
    r-x *   +Cantw


+tardir

    * d * tar -cvf ./#@.tar ./#@
    * * * _msg please, point with coursor to directory or mark files

+tarfiles

    * ? * tar -cvf .tar ##
    * * * _msg err in .ashmisc
:U6
:6
    rwx -   +cpiodir
    rwx +   +cpiofiles
    r-x *   +Cantw

+cpiodir

    * d . find ./#@ -depth -print | grep -v '^\./\.\.cpio' | cpio -odv > ./#@.cpio
    * d * find ./#@ -depth -print | cpio -odv > ./#@.cpio
    * * * _msg please, point to directory or mark files

+cpiofiles

    * ? * find ## -depth -print | cpio -odv > .cpio

:U7
:7
	rwx ?   mkdir .
	* *     +Cantw
:KI
	* * _cmdset misc.rc

@std.final
