#!/usr/bin/vash
#
#
#-: -l0 +spw1
#
#
|+
|# |-f ps -aud
|$ |-f ps -udt `tty`
-@2
||
#
|# |-f ps gf -t `tty`
|$ |-f ps f -t `tty`
-@1
|-

-7 <all

:U7
:7
    * *   :exec vash ps.all
#    * *   _cmdset ps.all
@ps.common
#<<< ps.rc
