#!/usr/bin/vash
#
# RPM database management
# Sat Oct 31 18:31:00 MSK 2020
#
# status:
# release, tested on Fedora 33..43
#
#-----------------------------------------

-: +1T -l12 -b512
## use -b until itmbsz bug will be removed
##-: +1 -l12 

-p rpm-
#
# default menu: fill, from, to (not used), arg
#
#-frpm -qa --qf '%11{installtime} %-30{name}\n'|sort -nr| colrm 1 12
|+
-f:a
-i.
-o/dev/null
-@1
||
-frpm -qa --qf '%11{installtime} %-30{name} %-50{nevra} %20{distribution}\n'|sort -nr| colrm 1 12
-i/var/lib/rpm/rpmdb.sqlite
-o/dev/null
-@2
|-
#------------------------------------------

# keyboard legend
-1#
-2repqry
-3info
-4files
-5depnds
-6provds
-7whtreq
-8remove
-9SETUP
-0quit
#------------------------------------------

@std.mark

#------------------------------------------
:U2
:2
       * *   :repoquery `rpm -q --qf '%{name}' #@`
:R
	* * :yum -C reinstall `rpm -q --qf '%{name}' #@`
:S
	* * :yum -C search --qf '%-50{nevra} %-20{distribution}\n' `rpm -q --qf '%{name}' #@`

:L
	* - :rpm -q --qf '%-50{nevra} %{installtime:date}  %-20{vendor}\n' #@
	* + :rpm -q --qf '%-50{nevra} %{installtime:date}  %-20{vendor}\n' ##
:U3
:3
       * *   :rpm -qi #@

:U4
:4
       * *   ;rpm -ql #@ | #m

:U5
:5
       * *   ;rpm -qR #@ | #m

:U6
:6
       * *   ;rpm -q --provides #@ | #m

:U7
:7
#       * -   ;repoquery -i #@
#	* -	:repoquery --whatrequires `rpm -q --qf '%{name}' #@`
	* *	:rpm -q --whatrequires `rpm -q --qf '%{name}' #@`

:U8
:8
       * -   yum -C remove #@
       * +   yum -C remove ##

:EX
:U0
:0
	* *     exit

#------------------------------------------

@std.cmd
@std.final
