#!/usr/bin/vash
#
# NOTE:shebang used only for auto syntax colorize by text editors
#
# Visual Assistant Shell (vash)
# 1990-2025 Sergey Vovk
#
# GPL license
#
# standard default profile std.rc (former .ashstd)
# since Tue Jun  1 22:41:47 MVT 1993
#

# syntax description and comments moved to ./std.SYNTAX

#-1!sh
-2
-3?
-4edit
-5cp
-6mv
-7
-8rm
-9setup
-0exit

-f:Fv
#-f:F 2>/dev/null ls -vd .. *
-i.
-o.
-@

@std.mark
@std.rio
@std.cmd

# read a profile (ex this one)
:[~]
    * * _cmdset std.rc

:[`]
    * * _cmdset ls-av

# exit with no comfirmation
#:^D
#    * * ;exit
:EX
    * * exit

:0
    * * exit

#
# User menu (experimental status)
#
:2
:U2
	r?x ?   _menu2 std.menu
#	* ?     _f_ls

# included co-profile for VIEW an object
#
@std.view

#   
#+Open
@std.open

# Edit an object
:4
:U4
	r?x ?   +ed
#	r-x ?   +ed
#	rwx ?   +edw
+ed
	rwx d *         :cd #$
# vi не создает нового файла в каталоге
# а red, например, создает...
	rw? [TE] *      #e ./#$
#	rw? M *         elm -f ./#$
	rw? M *         mutt -f ./#$
#	r?? [OD] *      ;strings #@ | #m
#+edw
	rwx d *         :cd #$
|+|	r?? ? *.pkg ;pkg info -F ./#@ | #m
|-
	r?? ? *.src.rpm ;rpm -qlvp ./#@ | #m
	r?? ? *.rpm     ;rpm -qvp ./#@ --fileprovide | #m # -c -R
	r?? ? *.deb     ;dpkg --contents ./#@ | #m
#	rw? [TE] *      #e #@
	r?? [TE] *      ;#m #$
#	rw? M *         elm -f #@
#	r?? * *      ;ls -ld #@
	r?? * *      ;strings #@ | #m

# Копирование файлов (требуется еще один аргумент)
# это место в ash так и осталось недоделано...
# как изврат, применяется так:
#  помечаем клавишей пробел, что надо, редактируем строку,
#  нажимаем клавишу Ввод.
Если нажать Ввод, ничего не исправляя, то cp или mv изругается про
# то, что файлы идентичны.
# Оказалось очень удобно - быстро, и никаких лишних вопросов от ash.
# можно поставить курсор перед суффиксом - еще удобнее
:5
:U5
	rwx -   +CP
	r?x ?   cp -av ## .
+CP
	* * .   _
	* * ..  _
	* * *.log.[1-9].xz cp -av ./#@ #$ #9
	* * *.log.[1-9].gz cp -av ./#@ #$ #9
	* * *.log.[1-9].   cp -av ./#@ #$ #2
	* * *.*.log        cp -av ./#@ #$ #1
	* * *.src.rpm      cp -av ./#@ #$ #2
	* * *.tar.gz       cp -av ./#@ #$ #2
	* * *.*.xz         cp -av ./#@ #$ #1
	* * *.*.gz         cp -av ./#@ #$ #1
# common case for '2 dots in name' comparizon is incorrect
#	* * *.?*.[a-z]*    cp -av ./#@ #$ #2
#	* * *.[a-zA-Z0-9]* cp -av ./#@ #$ #1
	* * *              cp -av ./#@ #$

# Переименование/перенос файлов (требуется еще один аргумент)
:6
:U6
	rwx -   +MV
	rwx ?   mv -nv ## .
+MV
	* * .   _
	* * ..  _
	* * *.log.[1-9].xz mv -nv ./#@ #$ #9
	* * *.log.[1-9].gz mv -nv ./#@ #$ #9
	* * *.log.[1-9].   mv -nv ./#@ #$ #2
	* * *.*.log        mv -nv ./#@ #$ #1
	* * *.src.rpm      mv -nv ./#@ #$ #2
	* * *.tar.gz       mv -nv ./#@ #$ #2
	* * *.*.xz         mv -nv ./#@ #$ #1
	* * *.*.gz         mv -nv ./#@ #$ #1
#	* * *.?*.[a-z]*    mv -nv ./#@ #$ #2
#	* * *.[a-zA-Z0-9]* mv -nv ./#@ #$ #1
	* * *              mv -nv ./#@ #$

:7
:U7
# Еще одно субменю со сменой программы клавиш ash:
# Создание файла/каталога/файлов.системы/формат.диска;

	* * _cmdset misc.rc

# Уничтожение файлов/каталогов
:8
:U8
	r-x ?           _err write to this directory prohibited
	rwx -           +Rmfile
	rwx ?           rm -f ##
+Rmfile
# Не руби сук, на котором сидишь...
	r?x d ..        _msg Please don't do this...
	r?x d .         _msg Please stop chopping down the branch under you
	rwx d *         rm -r -f ./#$
	??? * -*          rm -f ./#$
	rw? [AODETM] *    rm -f ./#$
#        rw? T *         rm -f #@
	r-? ? *         rm -f ./#$  # caution! file is write-protected !


# Настройка интерпретатора (флаги, команды)
:9
:U9
	??? ?   _sup

:[?]
:HE
# show help
#	* * _cmdset std_help.rc
# obsolete, will be removed - use man vash instead, please
	* * ;env VASH_LABEL='help! ' vash -1 std_help.rc
#	* * _help std_help.lb

:&
#       Программа (настройка) ash для работы с процессами
	* *     ;env VASH=l20spw VASH_LABEL='ps ' vash ps.rc
#        * *     _cmdset ps.rc


#-------------------------------------------------------
#          Прочие часто используемые команды:
#-------------------------------------------------------
# Синонимы для перехода в другие каталоги
#:[~]
#       Перейти в домашний каталог (HOME)
#	* *     :cd
#:[U]
::
	* *     :cd ..

:A
# vash's library archive, from 'char *vexdir' internal constant
	* *     :cd #A

# Сравнение файлов
:D
	* +   +diff
	* -   _msg exact two files must be selected to diff
+diff
	* * * :diff -br ##

:M
#       Посмотреть раздел оперативного руководства по компоненте,
#       правильно работает в каталоге с файлами man
#       (/usr/catman, /usr/local/man.
#       Может работать в каталогах /bin, /lib /include)
	* *.*   :man #*
	* *     :man #@
:R
# repeat a command (echo as example)
	* *     for i in ## ;do echo $i; done

:F
	* -   :file #@
	* *   :file ##
:L
	* -   ;ls -la | #m
	* *   :ls -ld ##
:T
#	* -   :cat #@
#	* *   :cat ##
    * -   +targz1
    * +   +targz
+targz1
#   r?x [d] *-[0-9]*  tar cvzf #@.tar.gz #@/
    r?x [d] *         tar cvzf #$.tar.gz #$/
    r?? [TMD] *       :cat #@
+targz
    r?x [d] *         tar cvzf #$.tar.gz ##
    ??? * *           _msg #@ marked: ##

:X
# set execution permissions
	* -     chmod +x ./#$
	* ?     chmod +x ##
:W
# change write permissions
	* -     +wprot
# remove write permissions for selected files
	* *     chmod a-w ##
+wprot
	?w? ? *         chmod a-w ./#$
# chmod +w may be better, but in SYSV umask not affected chmod
	?-? ? *         chmod ug+w #$

:O
# disable write on (marked) file(s) for other
	* -     chmod o-rwx ./#$
	* *     chmod o-rwx ##

# have to be moved into std.menu
:U
	* -     :du -sh
	* *	:du -s ##

@std.final
#<<< std.rc
