#!/usr/bin/vash
#
# Visual Assistant Shell (vash)
# 1990-2026 Sergey Vovk
#
# GPL license
#
# standard default profile std.rc (former .ashstd)
#

# syntax description and comments moved to ./std.SYNTAX

#-1 !sh
-2
-3 ?
-4 edit
-5 cp
-6 mv
-7
-8 rm
-9 setup
-0 exit

-f :Fv
#-f :F 2>/dev/null ls -vd .. *
-i .
-o .
-@

@std.mark
@std.rio
@std.cmd

# read a profile (ex this one)
:[~]
    * * _cmdset std.rc

:[`]
    * * _cmdset ls-av

# exit with no comfirmation
#:^D
#    * * ;exit
:EX
    * * exit

:0
    * * exit

#
# User menu (experiment)
#
#:2
#:U2
#	r?x ?   _menu2 std.menu
##	* ?     _f_ls

# included co-profile for VIEW an object
#
@std.view

#   
#+Open
@std.open

# Edit an object
:4
:U4
	r?x ?   +ed
#	r-x ?   +ed
# 	rwx ?   +edw
+ed
	rwx d *         ;cd #$
	rw? [TE] *      #e ./#$
#	rw? M *         elm -f ./#$
	rw? M *         mutt -f ./#$
#+edw
	rwx d *         ;cd #$
|+|	r?? ? *.pkg ;pkg info -F ./#@ | #m
|-
	r?? ? *.src.rpm ;rpm -qlvp ./#@ | #m
	r?? ? *.rpm     ;rpm -qvp ./#@ --fileprovide | #m # -c -R
	r?? ? *.deb     ;dpkg --contents ./#@ | #m
#	rw? [TE] *      #e #@
	r?? [TE] *      ;#m #$
	r?? * *      ;strings #@ | #m

:5
:U5
	rwx -   +CP
	r?x ?   cp -av ## .
+CP
	* * .   _
	* * ..  _
	* * *.log.[1-9].xz cp -av ./#@ #$ #9
	* * *.log.[1-9].gz cp -av ./#@ #$ #9
	* * *.log.[1-9].   cp -av ./#@ #$ #2
	* * *.*.log        cp -av ./#@ #$ #1
	* * *.src.rpm      cp -av ./#@ #$ #2
	* * *.tar.gz       cp -av ./#@ #$ #2
	* * *.*.xz         cp -av ./#@ #$ #1
	* * *.*.gz         cp -av ./#@ #$ #1
# common case for '2 dots in name' comparizon is incorrect
#	* * *.?*.[a-z]*    cp -av ./#@ #$ #2
#	* * *.[a-zA-Z0-9]* cp -av ./#@ #$ #1
	* * *              cp -av ./#@ #$

:6
:U6
	rwx -   +MV
	rwx ?   mv -nv ## .
+MV
	* * .   _
	* * ..  _
	* * *.log.[1-9].xz mv -nv ./#@ #$ #9
	* * *.log.[1-9].gz mv -nv ./#@ #$ #9
	* * *.log.[1-9].   mv -nv ./#@ #$ #2
	* * *.*.log        mv -nv ./#@ #$ #1
	* * *.src.rpm      mv -nv ./#@ #$ #2
	* * *.tar.gz       mv -nv ./#@ #$ #2
	* * *.*.xz         mv -nv ./#@ #$ #1
	* * *.*.gz         mv -nv ./#@ #$ #1
#	* * *.?*.[a-z]*    mv -nv ./#@ #$ #2
#	* * *.[a-zA-Z0-9]* mv -nv ./#@ #$ #1
	* * *              mv -nv ./#@ #$

:7
:U7

	* * _cmdset misc.rc

:8
:U8
	r-x ?           _err write to this directory prohibited
	rwx -           +Rmfile
	rwx ?           rm -f ##
+Rmfile
	r?x d ..        _err Please don't do this...
	r?x d .         _err Please stop chopping down the branch under you
	rwx d *         rm -r -f ./#$
	??? * -*          rm -f ./#$
	rw? [AODETM] *    rm -f ./#$
#        rw? T *         rm -f #@
	r-? ? *         rm -f ./#$  # caution! file is write-protected !

:[?]
:HE
# show help
#	* * _cmdset std_help.rc
	* * ;vash std_help.rc
#	* * _help std_help.lb

:&
	* *     ;vash ps.rc
#        * *     _cmdset ps.rc


#-------------------------------------------------------

::
	* *     ;cd ..

:A
# vash's library archive, from 'char *vexdir' internal constant
	* *     ;cd #A

:D
	* +   +diff
	* -   _err exact two files must be selected to diff
+diff
	* * * :diff -br ##

:M
#       get manual for an item - it works in /bin /lib /usr/catman/ etc..
	* *.*   :man #*
	* *     :man #@
:R
# repeat a command (echo as template)
	* *     for i in ## ;do echo $i; done

:F
	* -   :file #@
	* *   :file ##
:L
	* -   ;ls -la | #m
	* *   :ls -ld ##
:T
#	* -   :cat #@
#	* *   :cat ##
    * -   +targz1
    * +   +targz
+targz1
#   r?x [d] *-[0-9]*  tar cvzf #@.tar.gz #@/
    r?x [d] *         tar cvzf #$.tar.gz #$/
    r?? [TMD] *       :cat #@
+targz
    r?x [d] *         tar cvzf #$.tar.gz ##
    ??? * *           _att #@ marked: ##

:X
# set execution permissions
	* -     chmod +x ./#$
	* ?     chmod +x ##
:W
# change write permissions
	* -     +wprot
# remove write permissions for selected files
	* *     chmod a-w ##
+wprot
	?w? ? *         chmod a-w ./#$
# chmod +w may be better, but in SYSV umask not affected chmod
	?-? ? *         chmod ug+w #$

:O
# disable write on (marked) file(s) for other
	* -     chmod o-rwx ./#$
	* *     chmod o-rwx ##

# have to be moved into std.menu
:U
	* -     :du -sh
	* *	:du -s ## | sort -n

@std.final
