#! /usr/bin/vash
#
# std_help.rc
#
# Wed Sep 12 15:46:39 MSD 1990
# 2022-01-23
# 2024-03-13
#
-f< std_help.menu
-i
#-o.
-@1

-9setup
-0return
#-------------------------debug
:KI
    ??? ?    _sup
:=
    ??? ?    _rescan
:[#]
    * * _file #@
#-------------------------
:CA
:EX
:U0
:0
#    * * _cmdset .ashstd
    * * :exit
:U9
:9
#    * * _help sup_help.lb
    * * _sup
:[?]
:HE
    * * _help std_help.lb
#-------------------------main
:[ ]
:NL
    * * +nl
+nl
# 
###	* * Return     _cmdset std.rc
#
    * * Return     :exit
    * * Keyboard   _help phelp0.lb
    * * Context    _help std_help.lb
    * * About      _help about_vash.lb
    * * Exit       _help excode_help.lb

:Z
    * * _msg #k masked
@std.final

