#!/usr/bin/bash
# this is vash rc profile
# shebang used for auto syntax colorize only
#
# Visual Assistant Shell (vash)
# 1990,1993,2013,2016,2019 (C) Sergey Vovk
#
# MIT license
#
# standard default profile std.rc (former .ashstd)
# since Tue Jun  1 22:41:47 MVT 1993
#

# description and comment moved to ./std.SYNTAX

-1!sh
-2menu
-3?????
-4edit
-5cp
-6mv
-7other
-8rm
-9setup
-0exit

-f:Fa
-i.
-o.
-@

@std.mark

#       Освежить стандартную настройку ash (при отладке этого файла)
:KI
    * * _cmdset std.rc

# Конец работы, ВЫХОД
:0
	* *     exit
#:EX
#	* *     ;exit # no ask comfirmation
:EX
#	* *	_msg please, use ^D (Ctrl-d) for quit
	* *	_err please, type exit or press 0 and Return to quit

# Редактирование последней команды sh:
#:EX
:HE
:[1!]
	r?x ?   _sh

# clear command buffer
:CA
    * * _sh #
	
# Меню пользователя
:2
:U2
	r?x ?   _menu2 std.menu
#	* ?     _f_ls

@std.view
   
#+Open
@std.open

# Редактирование файла
:4
:U4
	r?x ?   +ed
#	r-x ?   +ed
#	rwx ?   +edw
+ed
	rwx d *         :cd #@
# vi не создает нового файла в каталоге
# а red, например, создает...
	rw? [TE] *      #e #@
#	rw? M *         elm -f ./#@
	rw? M *         mutt -f ./#@
#	r?? [OD] *      ;strings #@ | #m
#+edw
	rwx d *         :cd #@
	r?? ? *.src.rpm ;rpm -qlvp ./#@ | #m
	r?? ? *.rpm     ;rpm -qvp ./#@ --fileprovide | #m # -c -R
	r?? ? *.deb     ;dpkg --contents ./#@ | #m
#	rw? [TE] *      #e #@
	r?? [TE] *      ;#m #@
#	rw? M *         elm -f #@
#	r?? * *      ;ls -ld #@
	r?? * *      ;strings #@ | #m

# Копирование файлов (требуется еще один аргумент)
# это место в ash так и осталось недоделано...
# как изврат, применяется так:
#  помечаем клавишей пробел, что надо, редактируем строку,
#  нажимаем клавишу Ввод.
# Если нажать Ввод, ничего не исправляя, то cp или mv изругается про
# то, что файлы идентичны.
# Оказалось очень удобно - быстро, и никаких лишних вопросов от ash.
:5
:U5
	rwx -   +CP
	r?x ?   cp ## .
+CP
	* * .   _
	* * ..  _
	* * *   cp #@ #@

# Переименование/перенос файлов (требуется еще один аргумент)
:6
:U6
	rwx -   +MV
	rwx ?   mv ## .
+MV
	* * .   _
	* * ..  _
	* * *   mv #@ #@

:7
:U7
# Еще одно субменю со сменой программы клавиш ash:
# Создание файла/каталога/файлов.системы/формат.диска;

	* *     _cmdset misc.rc


# Уничтожение файлов/каталогов
:8
:U8
	r-x ?           _err write to this directory prohibited
	rwx -           +Rmfile
	rwx ?           rm -f ##
+Rmfile
# Не руби сук, на котором сидишь...
	r?x d ..        _msg Please, do not cut the leaf you are sitting on
	r?x d .         _msg Please, do not cut the leaf you are sitting on
	rwx d *         rm -r -f ./#@
	* * -*          rm -f ./#@
	rw? [AODETM] *    rm -f ./#@
#        rw? T *         rm -f #@
	r-? ? *         rm -f ./#@  # caution! file is write-protected !


# Настройка интерпретатора (флаги, команды)
:9
:U9
	??? ?   _sup

# Вызов подсказки
# obsolete, will be removed - use man vash instead, please
:[?]
#:HE
#	* * _cmdset std.help.rc
	* * ;vash std.help.rc

# Полезное действие (выполнить, распаковать, войти в объект, и т.п.),
# см. выше +Open, +View
:NL
#:[;]
	??? ?   +Open

:&
#       Программа (настройка) ash для работы с процессами
	* *     :ASH=l20ps; export ASH; exec vash ps.rc
#        * *     _cmdset ps.rc

#:[2-90]
#        * *     _msg нажимайте функциональные клавиши F1 - F10...
:[./a-z]
#       любая клавиша нижнего регистра - начало ввода команды sh.
	* *     _sh #k



#-------------------------------------------------------
#          Прочие часто используемые команды:
#-------------------------------------------------------
# Синонимы для перехода в другие каталоги
:[~]
#       Перейти в домашний каталог (HOME)
	* *     :cd
#:[U]
:[:]
	* *     :cd ..

:A
# library archive, from 'char *vexdir' internal constant
	* *     :cd #A

# Сравнение файлов
:D
	* +   +diff
	* -   _msg exact two files must be selected to diff
+diff
	* * * :diff -b ##

#:A
##       Показать программу клавиш ash (Этот файл).
#        * *     #m /usr/local/lib/ash/.ashstd

:M
#       Посмотреть раздел оперативного руководства по компоненте,
#       правильно работает в каталоге с файлами man (/usr/catman,
#       /usr/local/man). Может работать в каталогах /bin, /lib /include)
#       2 строки нужны из-за ошибки в ash, связанной с подстановкой аргумента #*
	* *.*   :man #*
	* *     :man #@
:R
# Повторить команду для помеченных файлов
# (echo как пример команды sh)
	* *     for i in ## ;do echo $i; done


# retro, obsoleted
#:V
#	* *     +Vedit
#
#+Vedit
## быстрый вызов vi, права доступа по записи не проверять
#	r?? [TE] * ;vi #@
#	r?? M * :elm -f #@

:F
:^F
	* -   :file #@
	* *   :file ##
:L
	* -   ;ls -la | #m
	* *   :ls -ld ##
:T
#	* -   :cat #@
#	* *   :cat ##
    * -   +targz1
    * +   +targz
+targz1
#   r?x [d] *-[0-9]*  tar cvzf #@.tar.gz #@/
    r?x [d] *         tar cvzf #@.tar.gz #@/
    r?? [TMD] *       :cat #@
+targz
    r?x [d] *         tar cvzf #@.tar.gz ##
    ??? * *           _msg #@ marked: ##

:X
#       установить полномочия выполнения (для командных файлов)
	* -     chmod +x #@
	* ?     chmod +x ##
:W
# Сменить полномочия записи файла
	* -     +wprot
# для группы помеченных файлов убрать права записи
	* *     chmod a-w ##
+wprot
	?w? ? *         chmod a-w #@
#                       chmod +w лучше, но в SYSV umask не влияет на chmod
	?-? ? *         chmod ug+w #@

:O
# Закрыть файл или помеченную группу файлов для категории 'прочие'
	* -     chmod o-rwx #@
	* *     chmod o-rwx ##

# have to be moved into std.menu
:U
	* -     :du -sh
	* *	:du -s ##

:[#]
	* *     _file #@

@std.final

